# Arquivos de saída do Robot Framework
output.xml
log.html
report.html
# *.png
*.jpg

# Ambientes virtuais
venv/
.venv/
.env

# Cache e arquivos Python compilados
__pycache__/
*.pyc
*$py.class

# Arquivos de IDEs
.vscode/
.idea/
*.iml

# Arquivos temporários
*.tmp
*.bak

# Sistema operacional
.DS_Store
Thumbs.db
